#### Library

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### Capacity

In [16]:
# Load the JSON data from the specified file
input_file = '/home/kevin/Downloads/BESS/data/energy_generation_20240601_20240630.json'
df = pd.read_json(input_file)

# Initialize an empty DataFrame to store the output
out = pd.DataFrame()

# Flatten the JSON data using the 'return' column
flattened_data = pd.json_normalize(df['return'])

# Function to process data for a given fuel type
def process_fuel_type(fuel_type):
    fuel_data = pd.json_normalize(flattened_data[flattened_data.fuel_type == fuel_type]['Hours']).T
    fuel_data.rename(columns={0: 'energy'}, inplace=True)
    if 'begin_datetime_mpt' not in out.columns:
        out['begin_datetime_mpt'] = fuel_data['energy'].apply(lambda x: x['begin_datetime_mpt'])
    out[f'AC_{fuel_type}'] = fuel_data['energy'].apply(lambda x: x['outage_grouping.AC'])

# Process data for WIND, SOLAR, and HYDRO fuel types
for fuel in ['WIND', 'SOLAR', 'HYDRO']:
    process_fuel_type(fuel)

# Print the resulting DataFrame
# print(out.head())
out.to_csv('/home/kevin/Downloads/BESS/data/data_trial/AC.csv')

#### Generation

In [26]:
df = pd.read_csv('/Users/kevinakbari/Documents/BESS/data/CSD Generation (Hourly)/CSD Generation (Hourly) - 2024.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)

wind_generation_june_dec_2024 = df[(df['Fuel Type'] == 'WIND') & (df['Date (MPT)']>= '2024-06-01') & (df['Date (MPT)']<= '2024-12-31')]
wind_generation_june_dec_2024.to_csv('/Users/kevinakbari/Documents/BESS/data/data_June2024_Dec2024/wind_generation_june_dec_2024.csv')
solar_generation_june_dec_2024 = df[(df['Fuel Type'] == 'SOLAR') & (df['Date (MPT)']>= '2024-06-01') & (df['Date (MPT)']<= '2024-12-31')]
solar_generation_june_dec_2024.to_csv('/Users/kevinakbari/Documents/BESS/data/data_June2024_Dec2024/solar_generation_june_dec_2024.csv')

In [6]:
wind = pd.read_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/wind_generation_june_dec_2024.csv')

In [7]:
wind.head()

,Unnamed: 0,Date (MST),Date (MPT),Asset Short Name,Asset Name,Asset Grouping,Volume,Maximum Capability,System Capability,Fuel Type,Sub Fuel Type,Planning Area,Region
0,765222,2024-05-31 23:00:00,2024-06-01 00:00:00,AKE1,AKE1 McBride Lake Windfarm,AKE1,7.228072,73.0,73.0,WIND,WIND,53,South
1,765223,2024-06-01 00:00:00,2024-06-01 01:00:00,AKE1,AKE1 McBride Lake Windfarm,AKE1,3.672922,73.0,73.0,WIND,WIND,53,South
2,765224,2024-06-01 01:00:00,2024-06-01 02:00:00,AKE1,AKE1 McBride Lake Windfarm,AKE1,6.971334,73.0,73.0,WIND,WIND,53,South
3,765225,2024-06-01 02:00:00,2024-06-01 03:00:00,AKE1,AKE1 McBride Lake Windfarm,AKE1,9.483445,73.0,73.0,WIND,WIND,53,South
4,765226,2024-06-01 03:00:00,2024-06-01 04:00:00,AKE1,AKE1 McBride Lake Windfarm,AKE1,3.171050,73.0,73.0,WIND,WIND,53,South

In [21]:
wind = wind.groupby('Date (MPT)')['Volume'].sum().reset_index()
wind.sort_values(by='Date (MPT)', inplace=True)
wind.to_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/wind_generation_june_dec_2024_2.csv')

In [15]:
solar = pd.read_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/solar_generation_june_dec_2024.csv')

In [16]:
solar.head()

,Unnamed: 0,Date (MST),Date (MPT),Asset Short Name,Asset Name,Asset Grouping,Volume,Maximum Capability,System Capability,Fuel Type,Sub Fuel Type,Planning Area,Region
0,776742,2024-05-31 23:00:00,2024-06-01 00:00:00,BLS1,BLS1 Barlow Solar,BLS1,0.0,27.0,27.0,SOLAR,SOLAR,6,Calgary
1,776743,2024-06-01 00:00:00,2024-06-01 01:00:00,BLS1,BLS1 Barlow Solar,BLS1,0.0,27.0,27.0,SOLAR,SOLAR,6,Calgary
2,776744,2024-06-01 01:00:00,2024-06-01 02:00:00,BLS1,BLS1 Barlow Solar,BLS1,0.0,27.0,27.0,SOLAR,SOLAR,6,Calgary
3,776745,2024-06-01 02:00:00,2024-06-01 03:00:00,BLS1,BLS1 Barlow Solar,BLS1,0.0,27.0,27.0,SOLAR,SOLAR,6,Calgary
4,776746,2024-06-01 03:00:00,2024-06-01 04:00:00,BLS1,BLS1 Barlow Solar,BLS1,0.0,27.0,27.0,SOLAR,SOLAR,6,Calgary

In [22]:
solar = solar.groupby('Date (MPT)')['Volume'].sum().reset_index()
solar.sort_values(by='Date (MPT)', inplace=True)
solar.to_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/solar_generation_june_dec_2024_2.csv')

#### AIL

In [16]:
# Load the JSON data from the specified file
input_file = '/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/AIL_01062024_31122024.json'
df = pd.read_json(input_file)

# Initialize an empty DataFrame to store the output
out = pd.DataFrame()

# Flatten the JSON data using the 'return' column
flattened_data = pd.json_normalize(df['return'])
flattened_data = flattened_data.T
out['begin_datetime_mpt'] = flattened_data[0].apply(lambda x: x['begin_datetime_mpt'])
out['alberta_internal_load'] = flattened_data[0].apply(lambda x: x['alberta_internal_load'])
out['forecast_alberta_internal_load'] = flattened_data[0].apply(lambda x: x['forecast_alberta_internal_load'])

out.to_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/AIL_01062024_31122024.csv')

#### Price

In [21]:
# Load the JSON data from the specified file
input_file = '/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/price_01062024_31122024.json'
df = pd.read_json(input_file)

# Initialize an empty DataFrame to store the output
out = pd.DataFrame()

# Flatten the JSON data using the 'return' column
flattened_data = pd.json_normalize(df['return'])
flattened_data = flattened_data.T
out['begin_datetime_mpt'] = flattened_data[0].apply(lambda x: x['begin_datetime_mpt'])
out['pool_price'] = flattened_data[0].apply(lambda x: x['pool_price'])
out['forecast_pool_price'] = flattened_data[0].apply(lambda x: x['forecast_pool_price'])
out['rolling_30day_avg'] = flattened_data[0].apply(lambda x: x['rolling_30day_avg'])

out.to_csv('/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/price_01062024_31122024.csv')