In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
# Load the JSON data from the specified file
input_file = '/home/kevin/Downloads/BESS/data/energy_generation_20240601_20240630.json'
df = pd.read_json(input_file)

# Initialize an empty DataFrame to store the output
out = pd.DataFrame()

# Flatten the JSON data using the 'return' column
flattened_data = pd.json_normalize(df['return'])

# Function to process data for a given fuel type
def process_fuel_type(fuel_type):
    fuel_data = pd.json_normalize(flattened_data[flattened_data.fuel_type == fuel_type]['Hours']).T
    fuel_data.rename(columns={0: 'energy'}, inplace=True)
    if 'begin_datetime_mpt' not in out.columns:
        out['begin_datetime_mpt'] = fuel_data['energy'].apply(lambda x: x['begin_datetime_mpt'])
    out[f'AC_{fuel_type}'] = fuel_data['energy'].apply(lambda x: x['outage_grouping.AC'])

# Process data for WIND, SOLAR, and HYDRO fuel types
for fuel in ['WIND', 'SOLAR', 'HYDRO']:
    process_fuel_type(fuel)

# Print the resulting DataFrame
# print(out.head())
out.to_csv('/home/kevin/Downloads/BESS/data/data_trial/AC.csv')

In [24]:
# Load the JSON data from the specified file
input_file = '/home/kevin/Downloads/BESS/data/data_June2024_Dec2024/price_01062024_31122024.json'
df = pd.read_json(input_file)

# Initialize an empty DataFrame to store the output
out = pd.DataFrame()

# Flatten the JSON data using the 'return' column
flattened_data = pd.json_normalize(df['return'])

fuel_data = pd.json_normalize(flattened_data).T
out['begin_datetime_mpt'] = flattened_data.T[0].apply(lambda x: x['begin_datetime_mpt'])
out['pool_price'] = flattened_data.T[0].apply(lambda x: x['pool_price'])
out['forecast_pool_price'] = flattened_data.T[0].apply(lambda x: x['forecast_pool_price'])
out['rolling_30day_avg'] = flattened_data.T[0].apply(lambda x: x['rolling_30day_avg'])

# Print the resulting DataFrame
# print(out.head())
out.to_csv('/home/kevin/Downloads/BESS/data/data_trial/price.csv')

  begin_datetime_mpt pool_price forecast_pool_price rolling_30day_avg
0   2024-06-01 00:00      30.83               24.30             35.38
1   2024-06-01 01:00      20.23               23.25             35.36
2   2024-06-01 02:00      13.56               18.02             35.34
3   2024-06-01 03:00      10.53               11.00             35.32
4   2024-06-01 04:00      12.43               10.09             35.31

In [26]:
df = pd.read_csv('/Users/kevinakbari/Documents/BESS/data/CSD Generation (Hourly)/CSD Generation (Hourly) - 2024.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)

In [27]:
df.shape

(1868308, 12)

In [28]:
df.head()

,Date (MST),Date (MPT),Asset Short Name,Asset Name,Asset Grouping,Volume,Maximum Capability,System Capability,Fuel Type,Sub Fuel Type,Planning Area,Region
0,2024-01-01 00:00:00,2024-01-01 00:00:00,AFG1,AFG1 APF Athabasca,AFG1,73.567562,131.0,67.0,OTHER,Wood/Refuse,27,Northeast
1,2024-01-01 01:00:00,2024-01-01 01:00:00,AFG1,AFG1 APF Athabasca,AFG1,73.646525,131.0,67.0,OTHER,Wood/Refuse,27,Northeast
2,2024-01-01 02:00:00,2024-01-01 02:00:00,AFG1,AFG1 APF Athabasca,AFG1,73.326178,131.0,67.0,OTHER,Wood/Refuse,27,Northeast
3,2024-01-01 03:00:00,2024-01-01 03:00:00,AFG1,AFG1 APF Athabasca,AFG1,73.711054,131.0,67.0,OTHER,Wood/Refuse,27,Northeast
4,2024-01-01 04:00:00,2024-01-01 04:00:00,AFG1,AFG1 APF Athabasca,AFG1,73.272631,131.0,67.0,OTHER,Wood/Refuse,27,Northeast

In [29]:
df['Fuel Type'].unique()

array(['OTHER', 'WIND', 'GAS', 'HYDRO', 'SOLAR', 'ENERGY STORAGE', 'COAL',
       'DUAL FUEL'], dtype=object)

In [32]:
wind_generation_june_dec_2024 = df[(df['Fuel Type'] == 'WIND') & (df['Date (MPT)']>= '2024-06-01') & (df['Date (MPT)']<= '2024-12-31')]
wind_generation_june_dec_2024.to_csv('/Users/kevinakbari/Documents/BESS/data/data_June2024_Dec2024/wind_generation_june_dec_2024.csv')
solar_generation_june_dec_2024 = df[(df['Fuel Type'] == 'SOLAR') & (df['Date (MPT)']>= '2024-06-01') & (df['Date (MPT)']<= '2024-12-31')]
solar_generation_june_dec_2024.to_csv('/Users/kevinakbari/Documents/BESS/data/data_June2024_Dec2024/solar_generation_june_dec_2024.csv')